@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Baloo+Tamma+2&family=Fira+Mono&family=Patrick+Hand+SC&family=Roboto&family=Varela+Round&family=Yrsa&display=swap");

body{
    background: linear-gradient(-45deg, #4c74b0, #0096d3, #00b8d7, #00d5ba, #23ec82);
    background-size: 400% 400%;
    animation: bg 15s ease infinite;
    font-family: Varela Round, 'Times New Roman', Times, serif;
}

@keyframes bg{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

div{
    transition: all 1s;
}

.rect,
.circle{
    height: 10rem;
    width: 10rem;
}

.circle{
    border-radius: 50%;
}

.first-task{
    background-color: tomato;
}

.first-task:hover{
    background-color: cornflowerblue;
    width: 15rem;
    height: 15rem;
}

.second-task{
    background-color: crimson;
}

.second-task:hover{
    transform: rotate(180deg);
    background-color: darkcyan;
}

.third-task{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: darkkhaki;
}

.third-task p{
    opacity: 0;
}

.third-task:hover{
    height: 5rem;
    width: 5rem;
}

.third-task:hover p{
    opacity: 1;
}

.fifth-task{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(212, 212, 212);
}

.fifth-task::before{
    margin-top: -0.5rem;
    position: absolute;
    top: 0;
    left: 100%;
    content: '';
    width: 0%;
    height: 0.5rem;
    background-color: rgb(0, 0, 0);
    transition: left 1s, width 1s;
}

.fifth-task:hover::before{
    left: 0%;
    width: 100%;
}

.fifth-task::after{
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    width: 0%;
    height: 0.5rem;
    background-color: rgb(0, 0, 0); 
    transition: all 1s;
}

.fifth-task:hover::after{
    width:100%;
}

h3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.borders{
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
}

.borders::before{
    position: absolute;
    content: '';
    bottom: 0%;
    height: 0%;
    width: 0.5rem;
    margin-left: -0.5rem;
    background-color: rgb(0, 0, 0);
    transition: all 1s;
}

.borders:hover::before{
    height:100%;
}

.borders::after{
    position: absolute;
    content: '';
    height: 0%;
    left: 100%;
    width: 0.5rem;
    background-color: rgb(0, 0, 0);
    transition: all 1s;
}

.borders:hover::after{
    height:100%;
}

.fifth-task:hover{
    background-color: rgb(122, 221, 122);
}

.animatedSection{
    height: 500px;
}
 
.animated-circle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    position: relative;
    animation-name: circle;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

.animated-circle:hover{
    animation-name: circle;
    animation-play-state: paused;
}

@keyframes circle{
    0%{
        top: 0px;
        left: 0px;
    }
    10%{
        top: 200;
        left: 300;
    }
    25%{
        top: 0px;
        left: 300px;
    }
    40%{
        top:200px;
        left: 600px;
    }
    50%{
        top: 200px;
        left: 600px;
    }
    65%{
        top: 200px;
        left: 0;
    }
    85%{
        top: 0px;
        left: 600px;
    }
    100%{
        top: 0px;
        left: 0px;
    }
}