body {
  background-color: rgb(50, 44, 70);
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.imageContainer {
  width: 50%;
  background-image: url("https://source.unsplash.com/1600x900/?nature,water");
  background-size: cover;
  height: 600px;
  float: left;
}

.imageContainer img {
  width: 100%;
}

.page {
  padding: 20px;
  margin-bottom: 1000px;
}

.card {
  display: block;
  background-color: white;
  height: 600px;
}

.contentContainer {
  width: 50%;
  float: right;
}

.content {
  margin: 50px;
}

.content h2 {
  border-bottom: 5px solid purple;
  padding: 10px 0;
}

.button {
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 14px;
}

.dark {
  background-color: rgb(173, 34, 185);
  color: rgb(243, 243, 243);
}

.light {
  border: 1px solid rgb(173, 34, 185);
}

.right {
  float: right;
}

.left {
  float: left;
}

.number {
  display: inline-block;
  background-color: rgb(173, 34, 185);
  height: 25px;
  width: 30px;
  text-align: center;
  padding-top: 5px;
  border-radius: 50%;
  color: white;
  margin-right: 20px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin: 20px 0;
}
label {
  display: inline-block;
  width: 100px;
}

.buttons {
  margin-top: 50px;
}

input {
  height: 35px;
  width: 260px;
}

textarea {
  float: right;
  margin-bottom: 20px;
}
