

*{
    margin: 0;
    padding:0;
}

:root{
    --primary-color:rgb(155, 155, 173);
    --secondary-color:rgb(80, 136, 136);
    --text-color:white;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
}

header{
    background-color: var(--primary-color);
}

.mobileMenu{
    display: none;
    position: absolute;
}

.navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    height: 80px;
    z-index: 10;
    top: 0px;
    background-color: var(--primary-color);
}

.logo{
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: var(--text-color);
}

li:hover{
    cursor: pointer;
}

#navigation{
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

#navigation li{
    color: var(--text-color);
}

#navigation li a:hover{
    background-color: var(--secondary-color);
}

a{
    color: var(--text-color);
    text-decoration: none;
}

#navigation li a{
    padding: 20px;
}

.dropdownContent{
    position: absolute;
    display: flex;
    flex-direction: row;
    display: none;
}

.dropdown:hover .dropdownContent{
    display: block;
}

.dropdownContent ul{
    margin-top: 20px;
    display: block;
}
.dropdownContent ul li{
    padding: 20px 0;
    margin:0;
    background-color: rgb(180, 180, 180);
}

main h1,h2{
    margin-top: 50px;
}

section{
    min-height: 25vh;
}

@media only screen and (max-width: 768px) {

    .mobileMenu{
        display: block;
        top: 20px;
        right: 20px;
    }

    svg{
        background-color: none;
        border: none;
    }

    .navbar{
        display: block;
    }
    .logo{
        height: 80px;
    }
    
    #navigation{
        overflow: hidden;
        background-color: rgb(80, 136, 136);
        height: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #navigation li{
        padding: 20px;
    }

    .dropdownContent{
        position: static;
        display: block;
        margin-left: 10px;
        
    }
    .dropdownContent ul li{
        background-color: rgb(80, 136, 136);
    }
}