body {
  background-color: rgb(234, 243, 233);
  text-align: center;
  font-family: "Roboto";
  color: rgb(82, 82, 82);
  line-height: 2;
}

a {
  color: black;
}

h1 {
  color: black;
  font-family: "Arvo";
}
