* {
  margin: 0;
  padding: 0;
}

div,
footer {
  margin: 5px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  flex: 1;
  display: flex;
}

.siteTitle {
  flex: 1;
  background-color: yellow;
}

nav {
  flex: 1;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

nav div {
  flex: 1;
  background-color: pink;
}

/* Main */
main {
  flex: 8;
  display: flex;
}

/* Main Container */
.postContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.postTitle {
  background-color: lightslategrey;
  flex: 1;
}

.contentContainer {
  flex: 5;
  display: flex;
  flex-wrap: wrap-reverse;
}

.postMeta {
  flex: 1;
  background-color: palegreen;
  min-width: 200px;
}

.mainContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.mainContent {
  flex: 1;
  background-color: gray;
}

.mainImage {
  flex: 2;
  background-color: yellow;
}

/* Aside */
aside {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sideBar {
  flex: 1;
  background-color: orange;
}

.ads {
  flex: 1;
  background-color: green;
}

.other {
  flex: 1;
  background-color: plum;
}

footer {
  flex: 1;
  background-color: brown;
}
