* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.header {
  width: 100vw;
  display: flex;
  height: 50px;
}

h1 {
  flex: 1;
  background-color: yellow;
  margin: 2px;
  height: 100%;
}

li {
  list-style-type: none;
}

nav {
  flex: 1;
  height: 50px;
}

nav ul {
  display: flex;
  padding: 0;
  align-items: center;
}

nav ul li {
  flex-grow: 1;
  list-style-type: none;
  margin: 2px;
  background-color: rgb(253, 184, 250);
  height: 50px;
}

main {
  display: flex;
  flex-direction: row;
  height: 600px;
}

section {
  height: 100%;
  max-height: 600px;
  flex: 1;
  /* margin: 5px 2px; */
}

aside {
  height: 100%;
  width: 25%;
}

aside ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

aside ul li {
  flex-grow: 1;
  margin: 5px;
}

.sideBar {
  background-color: orange;
}

.ads {
  background-color: green;
}

.other {
  background-color: plum;
}

.sectionHeader {
  background-color: rgb(141, 141, 158);
  height: 50px;
}

article {
  height: 550px;
  display: flex;
  flex-grow: 10;
}

.meta {
  flex-grow: 1;
  flex: 1;
  background-color: lime;
}

.mainContent {
  flex: 3;
  display: flex;
  flex-direction: column;
}
