@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Baloo+Tamma+2&family=Fira+Mono&family=Patrick+Hand+SC&family=Roboto&family=Varela+Round&family=Yrsa&display=swap");

:root {
  --background: thistle;
  --font: "Varela Round";
  --primary-color: rgb(109, 109, 212);
  --secondary-color: rgb(172, 248, 172);
  --dark-color: rgb(68, 68, 68);
  --light-color: rgb(244, 244, 244);
}

body {
  background-color: var(--background);
  font-family: var(--font);
  color: var(--dark-color);
}

h1 {
  text-shadow: 120px 0px 0px var(--secondary-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.gridItem {
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--light-color);
  min-height: 100px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px var(--dark-color);
  transition: background-color 2s;
}

.gridItem:hover {
  background-color: var(--secondary-color);
}

.gridItem:nth-child(even) {
  text-shadow: 0px 0px 10px var(--secondary-color);
  box-shadow: -10px 0px 5px var(--dark-color);
}

.gridItem:nth-child(odd) {
  text-shadow: 30px 11px 0px var(--secondary-color);
  box-shadow: -10px 0px 5px var(--secondary-color);
}

.circle {
  margin: 2rem;
  height: 100px;
  width: 100px;
  background-color: var(--primary-color);
  color: var(--light-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-radius 1s, color 1s, background-color 1s;
}

.circle:hover {
  border-radius: 0%;
  color: var(--secondary-color);
  background-color: var(--dark-color);
}
