body{
    background-color: rgb(149, 171, 179);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
}

h2{
    color: rgb(122, 62, 62);
    text-align: center;
}

h3{
    color: rgb(156, 231, 187);
    text-align: center;
}

#myId{
    color: rgb(208, 243, 8);
    background-color: rgb(116, 116, 116);
    padding: 5px;
    width: 150px;
    border-radius: 5px;
}

.paragraph{
    border-bottom: 1px solid rgb(48, 48, 48);
    padding-bottom: 5px;
}